## First Python program

In [1]:
print("Hello World")
print(5)
print("Bye")

Hello World
5
Bye

## Escape Sequence Character

In [3]:
# \n = shift next sentence into nextline
print("Hey i am a good girl \nand i am also very intelligent")

Hey i am a good girl
and i am also very intelligent

In [5]:
# \" \" = double quote escape character
print("Hey i am a \"good girl\" and i am also very intelligent")

Hey i am a "good girl" and i am also very intelligent

## Print Statement

In [6]:
print("Hey", 6, 7)

Hey 6 7

In [7]:
print("Hey", 6, 7, sep="~")

Hey~6~7

In [10]:
print("Hey", 6, 7, sep="~", end = "009")
print("Harry")

Hey~6~7009Harry

## Datatype in python

##### Text Type : str 
##### Numeric Type : int, float, complex 
##### Sequence Type : list, tuple, range 
##### Mapping Type:	dict 
##### Set Types:	set, frozenset
##### Boolean Type:	bool
##### Binary Types:	bytes, bytearray, memoryview
##### None Type:	NoneType

### TypeCasting
The conversion of one data type into the other data type is known as type casting in python or type conversion in python.

Python supports a wide variety of functions or methods like: int(), float(), str(), ord(), hex(), oct(), tuple(), set(), list(), dict(), etc. for the type casting in python.

In [2]:
a = "1"
b = "2"
print(a+b)
a = "Anushka"
b = "Rajput"
print(a+b)

12
AnushkaRajput

In [3]:
a = 1
b = 2
print(a+b)

3

### Two types of Typecasting:
##### Explicit Conversion (Explicit type casting in python)
The conversion of one data type into another data type, done via developer or programmer's intervention or manually as per the requirement, is known as explicit type conversion.

It can be achieved with the help of Pythonâ€™s built-in type conversion functions such as int(), float(), hex(), oct(), str(), etc .

In [5]:
a = "1"
b = "2"
print(int(a)+int(b))

3

##### Implicit Conversion (Implicit type casting in python)
Data types in Python do not have the same level i.e. ordering of data types is not the same in Python. Some of the data types have higher-order, and some have lower order. While performing any operations on variables with different data types in Python, one of the variable's data types will be changed to the higher data type. According to the level, one data type is converted into other by the Python interpreter itself (automatically). This is called, implicit typecasting in python.

Python converts a smaller data type to a higher data type to prevent data loss.

In [1]:
# Python automatically converts
# a to int
a = 7
print(type(a))
 
# Python automatically converts b to float
b = 3.0
print(type(b))
 
# Python automatically converts c to float as it is a float addition
c = a + b
print(c)
print(type(c))

<class 'int'>
<class 'float'>
10.0
<class 'float'>

## Taking User input in python

In [2]:
 a = input("Enter your name: ")
print("My name is", a)

Enter your name: Anushka
My name is Anushka

## Strings

In [6]:
name = "Harry"
friend = "Rohan"
anotherfrnd = 'Lavish'

print("Hello, "+name)

#apple = "He said "I want to eat an apple"" This will generate error
apple1 = 'He said, "I want to eat an apple"'
apple2 = "He said, \"I want to eat an apple\""
print(apple1)
print(apple2)

#multiple lines string
a = '''He said,
Hey I am good
Wanna have apple'''
print(a)

Hello, Harry
He said, "I want to eat an apple"
He said, "I want to eat an apple"
He said,
Hey I am good
Wanna have apple

## Indexing

In [12]:
name = "raju" 
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[-1])
print(name[-2])
print(name[-3])
print(name[-4])

print("Lets use a for loop\n" )
for character in name:
    print(character)

r
a
j
u
u
j
a
r
Lets use a for loop

r
a
j
u

## Slicing

In [20]:
names = "Anushka, Aradhya"
print(names[0:7])
print(len(names))

fruit = "Mango"
print(fruit[:4])
print(fruit[1:4])
print(fruit[:])
print(fruit[0:-3])
print(fruit[:len(fruit)-3])
print(fruit[-3:-1]) #including -3 but not -1

Anushka
16
Mang
ang
Mango
Ma
Ma

In [21]:
nm = "Harry"
print(nm[-4:-2])

ar

## Methods in string

In [30]:
#strings are immutable
a = "!!!Harry!!! !!!!! Harry"
print(len(a))
print(a.upper())
print(a.lower())
print(a.rstrip("!"))
print(a.replace("Harry", "John"))
print(a.split(" "))
print(a.count("Harry"))

23
!!!HARRY!!! !!!!! HARRY
!!!harry!!! !!!!! harry
!!!Harry!!! !!!!! Harry
!!!John!!! !!!!! John
['!!!Harry!!!', '!!!!!', 'Harry']
2

In [28]:
blogheading = "introduction to jS"
print(blogheading.capitalize())

Introduction to js

In [41]:
str1 = "Welcome to the Console!!!"
print(len(str1))
print(len(str1.center(50)))
print(str1.center(50))

print(str1.endswith("!!!"))
print(str1.endswith("to", 4, 10))
print(str1.startswith("Welcome"))

25
50
            Welcome to the Console!!!
True
True
True

In [33]:
str = "He's name is Dan. He is an honest man."
print(str.find("is")) #return 1st occurence of is

10

In [38]:
str1 = "WelcomeToTheConsole01"
print(str1.isalnum())
print(str1.isalpha())
print(str1.islower())
print(str1.isupper())

print(str1.isprintable())
str2 = "hello\n"
print(str2.isprintable()) #false cause it has \n i.e. not printable

True
False
False
False
True
False

In [39]:
str1 = "        "       #using Spacebar
print(str1.isspace())
str2 = "        "       #using Tab
print(str2.isspace())

True
True

In [40]:
str1 = "World Health Organization" 
print(str1.istitle()) #return true is string is capitalized

True

In [42]:
str1 = "Python is a Interpreted Language" 
print(str1.swapcase())

pYTHON IS A iNTERPRETED lANGUAGE

In [43]:
str1 = "He's name is Dan. Dan is an honest man."
print(str1.title())

He'S Name Is Dan. Dan Is An Honest Man.

## If-Else Statement
Conditional operator >, <, <=, >=, !=, ==

In [2]:
a = int(input("Enter your age: "))
print("Your age is:", a)

if(a>=18):
    print("You can drive")
else:
    print("You cannot drive")

Enter your age: 18
Your age is: 18
You can drive

In [7]:
import time
t = time.strftime('%H')
timestamp = int(t)
if(timestamp >=6 and timestamp <=12):
    print("Good Morning!!")
elif(timestamp >= 12 and timestamp <=16):
    print("Good Afternoon!!")
elif(timestamp >=16 and timestamp <=20):
    print("Good Evening!!")
else: 
    print("Good Night!!")

Good Afternoon!!

## Match Case Statement

A match statement will compare a given variableâ€™s value to different shapes, also referred to as the pattern. The main idea is to keep on comparing the variable with all the present patterns until it fits into one.

The match case consists of three main entities :

The match keyword
One or more case clauses
Expression for each case
The case clause consists of a pattern to be matched to the variable, a condition to be evaluated if the pattern matches, and a set of statements to be executed if the pattern matches.

In [ ]:
x = int(input("Enter the value of x: "))
# x is the variable to match
match x:
    # if x is 0
    case 0:
        print("x is zero")
    case 4:
        print("case is 4")
    #default case
    case _:
        print(x)

In [ ]:
x = 4
# x is the variable to match
match x:
    # if x is 0
    case 0:
        print("x is zero")
    # case with if-condition
    case 4 if x % 2 == 0:
        print("x % 2 == 0 and case is 4")
    # Empty case with if-condition
    case _ if x < 10:
        print("x is < 10")
    # default case(will only be matched if the above cases were not matched)
    # so it is basically just an else:
    case _:
        print(x)

## Loops

In [3]:
 #Iterating over a string
name = "Anushka"
for i in name:
    print(i, end = ", ")

A, n, u, s, h, k, a,

In [6]:
#Iterating over a list
colors = ["Red", "Green", "Blue", "Yellow"]
for color in colors:
    print(color)
    
colors = ["Red", "Green", "Blue", "Yellow"]
for color in colors:
    for i in color:
        print(i)

Red
Green
Blue
Yellow
R
e
d
G
r
e
e
n
B
l
u
e
Y
e
l
l
o
w

In [16]:
for k in range(5):
    print(k, end = ", ")
    
print("\n")

for k in range(1, 9):
    print(k, end = ", ")
    
print("\n")

for k in range(1, 12, 3):
    print(k, end = ", ")

0, 1, 2, 3, 4,

1, 2, 3, 4, 5, 6, 7, 8,

1, 4, 7, 10,

## While Loop

In [17]:
i=0
while(i<3):
    print(i)
    i=i+1

0
1
2

In [3]:
count = 5
while (count>0):
    print(count, end = ", ")
    count = count-1

5, 4, 3, 2, 1,

In [4]:
x = 5
while(x>0):
    print(x, end = ", ")
    x = x-1
else:
    print('counter is 0')

5, 4, 3, 2, 1, counter is 0

#### Emulating do while loop in python

In [6]:
while True:
    number = int(input("Enter a positive number: "))
    print(number)
    if not number > 0:
        break

Enter a positive number: 90
90
Enter a positive number: -1
-1

## Break Statement
The break statement enables a program to skip over a part of the code. A break statement terminates the very loop it lies within.

In [7]:
for i in range(12):
    if i == 10:
        break
    print("5 X", i+1, "=", 5*(i+1))
print("10 iterations k baad loop breaked")

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
10 iterations k baad loop breaked

## Continue Statement
The continue statement skips the rest of the loop statements and causes the next iteration to occur.

In [9]:
# after using continue here it will skip the iteration where i is odd
for i in [2,3,4,6,8,0]:
    if (i%2!=0):
        continue
    print(i)

2
4
6
8
0

## Functions in Python

In [13]:
def calculateGmean(a, b):
    mean = (a*b)/(a+b)
    print(mean)

def isGreater(a, b):
    if(a<b):
        print("First number is Greater")
    else:
        print("Second number is greater or equal")

def isLesser(a, b):#function without body using pass
    pass


a = 9
b = 8
isGreater(a, b)
calculateGmean(a, b)

a = 12
b = 20
isGreater(a, b)
calculateGmean(a, b)

Second number is greater or equal
4.235294117647059
First number is Greater
7.5

### Function Arguments and return statement
There are four types of arguments that we can provide in a function:

1. Default Arguments
2. Keyword Arguments
3. Variable length Arguments
4. Required Arguments

In [15]:
#default arguments
def average(a=9, b=1):
    print("The average is ", (a+b)/2)

average()
average(4, 6)
average(5)
average(b=9)

The average is  5.0
The average is  5.0
The average is  3.0
The average is  9.0

In [17]:
#keyword argument
def average(a=9, b=1):
    print("The average is ", (a+b)/2)
    
average(b=10, a=21) 
#if you want that order should not matter then use keyword argument

The average is  15.5

In [18]:
#required argument
def average(a, b=1):
    print("The average is", (a+b)/2)

average(a=21) #value of a should be necessarily given

The average is 11.0

In [19]:
#variable length argument
def average(*numbers):
    #print(type(numbers))
    sum=0
    for i in numbers:
        sum = sum+i
    print("Average is: ", sum/len(numbers))
    
average(5, 6, 8, 11)

Average is:  7.5

### return statement

In [20]:
def average(*numbers):
    sum=0
    for i in numbers:
        sum = sum+i
    return sum/len(numbers)

c = average(5, 6, 7, 11)
print(c)

7.25